<div className="mt-4">
  <h3>EDIT BLOG</h3>
  <form method="POST" action="/blogs/{{blog._id}}?_method=PUT" class="mt-4">
    <div class="form-group">
      <label for="title" class="form-label fw-bold"> Blog Title </label>
      <input type="text" class="form-control" value="{{blog.title}}" id="title" name="title" />
    </div>
    <div class="form-group">
      <label for="description" class="form-label fw-bold"> Description </label>
      <textarea class="form-control" id="description" name="description">{{blog.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="content" class="form-label fw-bold"> Content </label>
      <textarea class="form-control" id="content" name="content">{{blog.content}}</textarea>
    </div>
    <div class="form-group">
      <label for="image" class="form-label fw-bold"> Image </label>
      <input type="text" class="form-control" value="{{blog.image}}" id="image" name="image" />
    </div>
    <div class="form-group">
      <label for="author" class="form-label fw-bold"> Author </label>
      <input type="text" class="form-control" value="{{blog.author}}" id="author" name="author" />
    </div>
    <div class="form-group">
      <label for="quote" class="form-label fw-bold"> Quote </label>
      <input type="text" class="form-control" value="{{blog.quote}}" id="author" name="author" />
    </div>
    <div class="form-group">
      <label for="tags" class="form-label fw-bold"> Tags </label>
      <input type="text" class="form-control" value="{{blog.tags}}" id="author" name="author" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">SAVE</button>
  </form>
</div>
