<div class="mt-4">
  <div class="row">
    {{#each blogs}}
    <div class="col-sm-6 col-lg-4">
      <div class="card card-blog-item">
        <a href="/blogs/{{this.slug}}">
          <img src="{{this.image}}" class="card-img-top" alt="..." />
        </a>
        <div class="card-body">
          <a class="text-black text-decoration-none" href="/blogs/{{this.slug}}">
            <h5 class="card-title">{{this.name}}</h5>
          </a>
          <p class="card-text">{{this.description}}</p>
          <a href="#" class="btn btn-primary">See blog</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
